*{padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.pc-hero{display: none;}

.mobile-hero{height: 92vh;}

.mobile-hero > header{display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    height: 10%;
    align-items: center;}

.mobile-hero > header > img{object-fit: contain;}

.mobile-hero > header > nav{display: none;}

.mobile-hero > .hero-info {height: 90%;}

.mobile-hero > .hero-info > .hero-info-poster-img{height: 50%;}

.mobile-hero > .hero-info > .hero-info-poster-img  > img{width: 100%;height: 100%;;}

.hero-info-content{position: relative;
    height: 50%;
    background-color: #2c2640;
    color: white;
    padding: 5px 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
text-align: center;}

.hero-info-content > #top-left-img{position: absolute;
top:0;
left: 0;}

.hero-info-content > #bottom-right-img{position: absolute;
bottom: -185px;
right: 0;}


.hero-info-content > .hero-info-texts{
    animation: fadein ;
    animation-duration: 5s;}

@keyframes fadein {
from {opacity: 0;} 
to{opacity: 1;}   
}

.hero-info-content > .hero-info-texts > h2{font-size:8vw; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation:drop-and-bounce ;
    padding-bottom: 10px;
    animation-duration: 2s;
position: relative;}

@keyframes drop-and-bounce {
0% {top:-200px;} 
40%{top:0;}   
70%{top:-5px;}
100%{top:0;}}

.hero-info-content > .hero-info-texts > p{font-size:4vw; line-height: 1.5; }

.hero-info-content > .hero-info-texts > button{background-color: transparent;
border: 2px solid white;
color: inherit;
padding: 10px 40px;
font-size: 4vw;
margin-top: 15px;
transition: .5s;
animation:join ;
animation-duration: 1s;
position: relative;}

@keyframes join {
0% {bottom:-100px;} 
100%{bottom:0;}}

.hero-info-content > .hero-info-texts > button:active{background-color: white;
color: #2c2640;}

.about{padding: 100px 20px 10px;
    text-align: center;}

.about > hr{width: 40%;
    color: lightgray;
    margin: 0 auto 30px;}

.about > h1{font-size: 8vw;
padding: 10px 0px 40px;}

.box-flex > .box{
    display: flex;
    gap: 10px;
    flex-direction: column;
padding: 20px 5px;}

.box-flex > .box > .box-text{
display: flex;
flex-direction: column;
gap: 10px;
}

.box-flex > .box > .box-text >h4{ font-size: 6vw;}

.box-flex > .box > .box-text >p{color:#2c26407c; line-height: 1.5;}

.find-out-more{width: 100%;
    position: relative;
    margin: 50px 0px;
    height: 350px;
    display: flex;
    overflow: hidden;
background-color: #2c2640;}

.find-out-more > img{position: absolute;
    top: 0;
    right: 0;
z-index: 0  ;}


.find-out-more > div{flex-wrap: wrap;
    z-index: 1;
    display: flex;
    height: auto;
    text-align: center;
    color: white;
    padding: 20px 40px;
    justify-content: center;
    align-items: center;}

    .find-out-more > div > .work-text > h1{font-size: 12vw;
    font-family:'Times New Roman', Times, serif;}

    .find-out-more > div > button{ border: 2px solid white;
        color: inherit;
        background-color: transparent;
        padding: 10px 30px;
        font-size: 4vw;
        margin-top: 15px;
        text-transform: uppercase;
        transition: .5s;}

footer{position: relative;
overflow: hidden;
padding: 25px 30px;
background-color: #f0f0f070;}

footer > img{position: absolute;
top: 0;
left: 0;
z-index: -1;}

footer > hr{margin: 10px 0px 30px;}

.footer-header{display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 0px 30px;
    align-items: center;
    justify-content: center;}

    .footer-header > .footer-header-icons{display: flex;
        gap: 15px;}

.footer-content{    display: flex;
    flex-direction: column;
text-align: center;
    align-items: center;}

    .footer-content-list{padding: 20px 0;
    text-transform: uppercase;}

.footer-content-list > h4{color:#2c264070;
padding: 10px 0 30px;}

.footer-content-list > ul{list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
font-weight: bold;}

.footer-content-list > ul >li{font-size: 12px;
color:#252130};